<h3>Registrar nuevo usuario</h3>
<h6>Rellene los campos solicitados para validar si es apto para alquilar una Jet Ski</h6>
<form class="form-horizontal main-form">  

<div class="form-group">
      <label class="control-label col-sm-3" for="nationalId">Cédula:</label>
    <div class="col-sm-5" >
      <input type="number" id="nationalId"  [(ngModel)]="producto.nationalId" name="nationalId" placeholder="Ingrese su cédula" 
      class="form-control">
    </div>
  </div>

  <div class="form-group">
      <label label class="control-label col-sm-3" for="name">Nombres:</label>
    <div class="col-sm-5">
      <input type="text" id="name" [(ngModel)]="producto.name" name="name" placeholder="Ingrese su nombre y apellido"
        class="form-control">
    </div>
  </div>

  <div class="form-group" >
      <label class="control-label col-sm-3" for="dob">Fecha nacido:</label>
    <div class="col-sm-5">
      <input type="date" id="dob" [(ngModel)]="producto.dob" name="dob" placeholder="Fecha de nacimiento"
        class="form-control">
    </div>
  </div>

  <div class="form-group">
        <label class="control-label col-sm-3" for="rentTime">Tiempo alquiler:</label>
      <div class="col-sm-5">
        <input type="number" id="rentTime" [(ngModel)]="producto.rentTime" name="rentTime" placeholder="Ingrese un tiempo en minutos"
          class="form-control">
      </div>
    </div>

  <div class="form-group">
      <label class="control-label col-sm-3" for="idJetSki">Motos Acuáticas:</label>
    <div class="col-sm-5">
        <select class="form-select" id="idJetSki" [(ngModel)]="producto.idJetSki" name="idJetSki">
          <option selected>Seleccione una moto</option>
          <option>BC001</option>
          <option>BC002</option>
          <option>BC003</option>
        </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"  (click)="crear()" class="btn btn-default btn-save">Alquilar</button>
    </div>
</div>
</form>