<h1>Registrar nuevo usuario</h1>
<h3>Rellene los campos solicitados para validar si es apto para alquilar una Jet Ski</h3>
  <div class="clear">
      <div class="row">  
    <div class="col-sm-2">
      <label>Cédula:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="number" id="nationalId" name="nationalId" placeholder="Ingrese su cédula" class="form-control"
        formControlName="nationalId">
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Nombre y apellido:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="descripcionProducto" name="descripcion" placeholder="Ingrese su nombre y apellido"
        class="form-control" formControlName="descripcion">
    </div>
  </div>
  <div class="clear">
  <div class="row">
    <div class="col-sm-2">
      <label>Fecha de nacimiento:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="date" id="dob" name="dob" placeholder="Fecha de nacimiento"
        class="form-control" formControlName="dob">
    </div>
  </div>
  </div>
  <div class="clear">
  <div class="row">
    <div class="col-sm-2">
      <label>Motos Acuáticas:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="List" id="idJetSki" name="idJetSki" placeholder="Elija su moto de la lista"
        class="form-control" formControlName="idJetSki">
    </div>
  </div>
  </div>
  <div class="clear">
  <div class="row">
    <div class="col-sm-2">
      <label>Tiempo de alquiler:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="number" id="rentTime" name="rentTime" placeholder="Ingrese un tiempo en minutos"
        class="form-control" formControlName="rentTime">
    </div>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"  (click)="crear()" class="btn btn-default btn-save">Alquilar</button>
    </div>
</div>