<h3>Crear alquiler usuarios registrados</h3>
<h6>Inserte una cedula para crear un alquiler</h6>
<form class="form-horizontal main-form">

  <div class="form-group">
    <label class="control-label col-sm-3">Cédula:</label>
    <div class="col-sm-5">
      <input type="number" id="nationalId" [(ngModel)]="nationalId" name="nationalId" placeholder="Ingrese su cédula"
        class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="idJetSki">Motos Acuáticas:</label>
  <div class="col-sm-5">
      <select class="form-select" id="idJetSki" [(ngModel)]="idJetSki" name="idJetSki">
        <option selected>Seleccione una moto</option>
        <option>BC001</option>
        <option>BC002</option>
        <option>BC003</option>
      </select>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3" for="rentTime">Tiempo alquiler:</label>
<div class="col-sm-5">
  <input type="number" id="rentTime" [(ngModel)]="rentTime" name="rentTime" placeholder="Ingrese un tiempo en minutos"
    class="form-control">
</div>
</div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" (click)="crearAlquiler(nationalId,idJetSki,rentTime)" class="btn btn-default btn-save">Alquilar</button>
    </div>
  </div>

</form>
