<nav class='navbar navbar-inverse'>
        <a id='linkAlquilarProducto' routerLink='./crear-alquiler' routerLinkActive='active'>Alquilar Jet Ski</a>
        <a id='linkCrearUsuarioAlquiler' routerLink='./crear-usuario-alquiler' routerLinkActive='active'>Crear Usuarios</a>
        <a id='linkListarAlquiler' routerLink='./listar-alquiler' routerLinkActive='active'>Alquileres</a>
        <a id='linkPagarAlquiler' routerLink='./pagar-alquiler' routerLinkActive='active' hidden>Pagos</a>
</nav>
<router-outlet></router-outlet>

