<nav>
    <div class="nav nav-tabs">
        <a id="linkAlquilarProducto" routerLink="./crear-alquiler" routerLinkActive="active">Alquilar Jet Ski</a>
        <a id="linkCrearProducto" routerLink="./crear-usuario-alquiler" routerLinkActive="active">Crear Usuarios</a>
        <a id="linkBorrarProducto" routerLink="./listar-alquiler" routerLinkActive="active">Alquileres</a>
        <a id="linkListarProducto" routerLink="./pagar-alquiler" routerLinkActive="active">Pagos</a>
    </div>
</nav>
<router-outlet></router-outlet>