<p>Listado de alquileres</p>
<div id="productos">
  <div class="clear">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">National Id</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Jet Ski</th>
            <th scope="col">Time Rent</th>
            <th scope="col">Date and Time Rent</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaProductos">
            <td>{{item.nationalId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.dob}}</td>
            <td>{{item.idJetSki}}</td>
            <td>{{item.rentTime}}</td>
            <td>{{item.dateAndTimeRent}}</td>
            <td><img src="/src/assets/favicon/Pay.png" class="payIcon" (click)="pagar()"></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
