<h2>Pagar alquiler</h2>
<h4>Inserte una cedula para realizar la busqueda</h4>
<form [formGroup]="productoForm" (ngSubmit)="pagar()">
<div class="clear">
  <div class="row">
    <div class="col-sm-2">
      <label>Cédula:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="number" id="idProducto" name="idProducto" placeholder="Ingrese su cédula" class="form-control"
        formControlName="id">
    </div>
  </div>
  </div>
  <div class="clear">
  <div class="row">
    <div class="col-sm-2">
      <label>Total a pagar</label>
    </div>
    <div class="col-sm-4">
      <input validar type="number" readonly id="totalAPagar" name="totalAPagar" placeholder="Total a pagar"
        class="form-control" formControlName="totalAPagar">
    </div>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"  (click)="pagar()" class="btn btn-default btn-save">Pagar</button>
    </div>
</div>
</form>